<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>http</key>
	<string>ZJWebViewController</string>
	<key>https</key>
	<string>ZJWebViewController</string>
	<key>ZJFirst</key>
	<string>ZJFirstViewController</string>
	<key>ZJSecond</key>
	<string>ZJSecondViewController</string>
</dict>
</plist>
